@charset "UTF-8";

@font-face {
    font-family: "Goudy";
    src: url(/fonts/GoudyBookletter1911-Regular.ttf) format("truetype");
}

 @font-face {
    font-family: "Poppins";
    src: url(/fonts/Poppins/Poppins-Regular.ttf) format("truetype");
 }

:root {
    --corFundo: #F3E5D8;
    --corFundoPreparation: #FFF8FC;
    --corSmallSubtitle: #68384D;
    --corSubtittle: #743E34;
    --corFundoContainer: #FFFFFF;
    --corExplicacao: #70706C;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--corFundo);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    font-family: "Poppins", 'Courier New', Courier, monospace;
    color: var(--corExplicacao);
    background-color: var(--corFundoContainer);
    width: 690px;
    padding: 30px;
    border-radius: 15px;
    margin: 100px 50px;
}

img {
    margin: auto;
    width: 690px;
    height: 350px;
    border-radius: 15px;
    display: flex;
}

#title {
    font-family: "Goudy";
    font-size: 2.5em;
    color: #000000;
    margin-top: 15px;
}

.explication {
    font-size: 1em;
    font-weight: 100;
    margin-top: 15px;
}

#smallsubtitle {
    color: var(--corSmallSubtitle);
}

#preparation {
    background-color: var(--corFundoPreparation);
    font-size: 0.9em;
    margin-top: 30px;
    padding: 20px;
    
}

ul li {
    padding-left: 20px;
    margin-left: 30px;
    line-height: 35px;
}

.subtitle {
    font-family: "Goudy";
    color: var(--corSubtittle);
    font-size: 1.8em;
    margin-top: 35px;
}

#ingredients {
    margin-top: 20px;
    padding-bottom: 40px;
    border-bottom: solid 1px rgba(0, 0, 0, 0.116);
}

.list {
    margin-top: 10px;
}

#instructions {
    margin-top: 20px;
    border-bottom: solid 1px rgba(0, 0, 0, 0.116);
}

.listord li{
    padding-left: 20px;
    margin-top: 10px;
}

.listord {
    font-weight: normal;
    font-size: 1em;
    padding: 40px;
    padding-top: 20px;
}

ol li::marker{
    color: var(--corSubtittle);
    font-weight: bold;
}

table {
    width: 100%;
    margin-top: 25px;
}

th, td {
    padding: 10px;
    text-align: left; 
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f5e1ef;
    font-weight: bold;
}
 
tr:last-child td {
    border-bottom: none;
}

.data2 {
    width: 45%;
}

.data {
    color: var(--corSmallSubtitle);
    font-weight: bold;
}
